h3{
	text-align:center;
}
#wrapper
{
    margin: 0 auto;
    position: relative;
    width: 500px;
    z-index: 999;
    
    border: 2px solid white;
}
img {

	margin: 0 auto;
	width: 940px;
	height: 250px;
}
footer{

	display:inline;
}
#portrait{

	width:250px;
	height: 275px;

}
html.background{
        background: url(IMG_1021.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

}

