h2{
	text-align:center;
	margin-bottom: 20px;
}
.wrapper
{
    margin: 0 auto;
    position: relative;
    z-index: 999;
    
}
.img-responsive{

	margin: 0 auto;
	width: 900px;
	height: 300px;
	padding-right: 40px;
}
#fancy{
	width: 900px;
	margin: 0 auto;
	background-color: #EBF5FF;
	box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.9), -12px 0 8px -4px rgba(31, 73, 125, 0.9);

}
#backhome{
	background-color: #727F8B;
}


.wrapper{
        background: url(IMG_0004.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index: 1;

}
.submit{
	margin-bottom: 30px;
}

#colorblock{
background-color: #BFDBD5;
height:1200px;
width: 100px;
z-index: 1;
}
  
#quote{
	margin-bottom: 50px;
	text-align: center;
	color: #505050 ;
	font-size: 1.75em;
	border-bottom: 1px dotted #505050;
}
.pages{
	margin: 0 auto;
	width: 940px;
	height: 250px;
}
#portrait{
	margin-left: 115px;
	width:250;
	height:250;
	margin-bottom:30px;
	margin-top: 15px;
}
.content{
	margin-top: 35px;
	margin-bottom: 75px;
	background-color: #EBF5FF;
	width: 500px;
	height:600px;
	opacity: .77;
	color: #505050;
	padding:10px;
	float: left;


}
.resources{
	margin-left: 45px;
}
#links{

	list-style-type: none;
  
}
h3{

	text-align: center;
	color: #14293D;
}
.home{

	background-color: LightSteelBlue;
	border-bottom: 10px solid #14293D;
	margin-top: 50px;
}
.homecolor{
	background-color: #EBF5FF;
}
.carousel-inner{
margin-left: 125px;
}
.textarea{
	margin-top: 20px;
}
.imglink{
margin-top: 0;
}
.puggy{
	margin-top: 35px;
	margin-bottom: 75px;
	background-color: #EBF5FF;
	width: 500px;
	height:600px;
	opacity: .87;
	color: #505050;
	padding:10px;
	float: left;
}

.pugimage{

        background: url(IMG_1163.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index: 1;
        
}
.pugs
{
    margin: 0 auto;
    position: relative;
    z-index: 999;
    
}

#areas:hover > div:hover .panel 
{
    opacity: 1;
    background-color: #99ccff;

    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

h3{
text-align: center;
}
.resource{
	color:black;
}
.square{
	list-style-type: square;
}

.panel{
	border:none;
	background-color: transparent;
}
.footer{
	display: inline;
}
.nav-bottom{
	
}